*{
    box-sizing: border-box;
    
}

.brand-black, .brand-black a, .brand-black span{
    color: #1A1A26 !important;
}

.brand-grey, .brand-grey a, .brand-grey span{
    color: #727473 !important;
}

.brand-green, .brand-green a, .brand-green span{
    color: #15a157 !important;
}

.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.auth-container-inner {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8 !important;
}

.auth-container-inner .pair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    width: 100%;
    height: 100%;

}

.auth-container-inner .pair.left {
    max-width: 45%;

}

.auth-container-inner .pair.right {
    max-width: 55%; 
}

.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.auth-form {
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    
}

.auth-form .form-tab {
    width: 100%;
}

.auth-form .form-tab .inner {
    width: 54.3%;
    background-color: rgb(241, 247, 241);
    display: flex;
    padding: 3px;
    border-radius: 22px;
}

.auth-form .form-tab .tab {
    padding: 0.8rem 1rem;
    border-radius: 20px;
}

.auth-form .form-tab .tab.active {
    background-color: #15a157;
    color: #fff;
}

.form .form-group {
    width: 100%;
}

.form .form-control {
    width: 100%;
    padding: 1.2rem 1rem ; 
    box-shadow: #15a157;
    outline: none; 
    border: 1px solid #dae0eb;

    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.form .form-control.show-focus {
    border: 1px solid #15a157 !important;
}

.form .btn {
    display: block;
    width: 100%;
    padding: 1.2rem 1rem;
    background-color: #15a157;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form .btn:hover {
    background-color: #138a49;
}

.form .input-icon {
    left: 1.2rem;
    top: 36.5%;
}

.form .eye-icon {
    right: 1.2rem;
    top: 36.5%;
}


.auth-form .auth-divider {
    width: 100%;
    position: relative;
    padding: 1rem 0rem;
}

.auth-form .auth-divider .line {
    height: 1px;
    background-color: #727473;
    width: 70%;
    margin: 0 auto;
}

.auth-form .auth-divider span {
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    top: -2.8px;
    left: 31.5%;
    position: absolute;
    border-radius: 10px;
}

.auth-form .brand-icons {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Spacing between social media icons */
}

.auth-form .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #15a157;
    cursor: pointer;
    transition: all 0.3s;
}

.auth-form .icon-button:hover {
    background-color: #15a157;
    color: #fff;
}

.auth-form .icon-button img {
    width: 40px;
    height: 40px;
}

.hero-image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 30px;
}

.hero-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

@media (max-width: 768px) {
    .container-inner {
      flex-direction: column; 
      padding: 1rem; 
    }
  
    .container-inner .pair {
      width: 100%; 
      height: auto; 
      max-width: none; 
    }
  
    .container-inner .pair.left, 
    .container-inner .pair.right {
      max-width: 100%; 
      padding: 0; 
    }
  
    .auth-form {
      padding: 20px;
    }
  
    .hero-image {
        display: none;
    }
  
    .auth-form .auth-divider span {
      left: 50%; 
      transform: translateX(-50%);
    }
  }


  /** Product **/
  .pcontainer {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }


  .banner {
    background-color: #F0F0F0; /* Light gray background */
    text-align: center;
    padding: 5rem 0;
  }
  
  .banner-text {
    color: #333; /* Dark gray text */
  }
  
  .offer {
    background-color: #E6F9D4; /* Light green background */
    text-align: center;
    padding: 2rem 0;
  }
  
  .offer-text {
    color: #333; /* Dark gray text */
  }
  
  .deals {
    margin-top: 2rem;
  }
  
  .deal-text {
    text-align: center;
  }

  .sticky-nav {
    /* Add your desired styles for the sticky navigation bar here */
    background-color: #fff; /* Light background color */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 10px 20px; /* Adjust padding as needed */
    position: fixed; /* Make the navbar sticky */
    top: 0; /* Position at the top of the viewport */
    width: 100%; /* Stretch across the entire width */
    z-index: 10; /* Ensure the navbar stays on top of other elements */
  }



  /** Hero Section CSS **/
.hero {
  background-color: #f5f5f5;
  padding: 4rem 0;
  background-image: url("/images/freshcart/hero-section-bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hero-content {
  text-align: left;
  animation: fade-in 1s ease-in-out;
}

.welcome-text {
  font-size: 1.1rem;
  color: #6c757d;
  margin-bottom: 1rem;
  letter-spacing: 1px;
}

.hero-content h1 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  line-height: 1.2;
}

.sale-text {
  font-size: 1.5rem;
  color: #009688;
  font-weight: 600;
  margin-bottom: 1rem;
}

.shipping-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 2rem;
}

.shop-now-btn {
  background-color: #15a157;
  color: #fff !important;
  padding: 0.8rem 2rem;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  border: none;
}

.shop-now-btn:hover {
  background-color: #13b953;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.hero-image {
  text-align: right;
}

.hero-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.hero-image img:hover {
  transform: scale(1.05);
}

/* Fade-in animation for the image */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-image {
  animation: fade-in 1.5s ease-in-out;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    padding: 2rem 0;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .shop-now-btn {
    padding: 0.7rem 1.5rem;
    font-size: 0.9rem;
  }
}


/**
FILTER
**/

.fcontainer {
  display: flex;
}

.fcol {
  margin-right: 10px; 
  border: 1px solid #ccc;
  padding: 5px;
}

.filter-container {
  display: flex;
  gap: 16px; 
  flex-wrap: nowrap;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  
}

.filter-select {
  border-radius: 8px; 
  width: 100%;
}

.filter-select .ant-select-selector {
  border-radius: 8px !important;
  padding: 8px !important;
  justify-content: end;
}

.rating-filter {
  margin-right: 16px; 
}

.sort-filter {
  flex-grow: 1; 
}

.filter-div {
  justify-content: end;
}




.category-section {
  margin-top: 50px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.view-all-link {
  color: #007bff; /* Blue link color */
  text-decoration: none;
}

.category-card {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.category-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}


/* FOOTER */
/* FOOTER */
.footer {
  background-color: #111;
  color: #fff;
  padding: 50px 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;  /* Add space between sections */
}

.logo img {
  height: 50px;  /* Slightly larger logo for better visibility */
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;  /* Adding gap between each section */
  flex: 2;
}

.link-group {
  flex: 1;
  min-width: 250px;  /* Ensures flexibility and enough width on mobile */
}

.link-group h4 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease;
}

.link-group h4:hover {
  color: #00aaff;  /* Modern blue hover effect */
}

.footer-dropdown {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-dropdown.open {
  display: block;
}

.footer-dropdown li {
  margin-bottom: 8px;
}

.footer-dropdown a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-dropdown a:hover {
  color: #00aaff;
}

.app-stores {
  display: flex;
  gap: 15px;
  margin-top: 15px;
}

.app-stores img {
  width: 120px;
  transition: transform 0.3s ease;
}

.app-stores img:hover {
  transform: scale(1.1);  /* Subtle scaling effect on hover */
}

.social-media {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.social-media a {
  color: #fff;
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #00aaff;  /* Hover effect for icons */
}

.payment-methods {
  display: flex;
  gap: 15px;
  margin-top: 30px;
}

.payment-methods img {
  width: 40px;
  transition: transform 0.3s ease;
}

.payment-methods img:hover {
  transform: scale(1.1);  /* Zoom effect for payment icons */
}

.copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 20px;
  width: 100%;
}




.benefits-section {
  background-color: #f8f9fa; /* Light gray background */
  padding: 30px 0;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.benefit-item {
  text-align: center;
}

.benefit-icon {
  font-size: 3rem;
  color: #009688; /* Green color */
  margin-bottom: 20px;
}

.benefit-item h3 {
  margin-bottom: 10px;
}

.benefit-item p {
  color: #6c757d; /* Gray text color */
}


/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

/* Product Details */
.product-details {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 30px auto;
  max-width: 1200px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-images {
  flex: 1;
}

.thumbnail-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail.active {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.image-container {
  position: relative;
}

.main-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 2rem;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}

.nav-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.nav-btn:first-child {
  left: 10px;
}

.nav-btn:last-child {
  right: 10px;
}

/* Product Info */
.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

.in-stock {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.rating {
  margin-top: 10px;
}

.star {
  color: #ffb400;
}

.sku,
.price {
  margin-top: 15px;
}

.old-price {
  text-decoration: line-through;
  color: #999;
}

.new-price {
  font-size: 1.5rem;
  color: #009688;
}

.discount {
  background-color: #009688;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
}

.brand {
  margin-top: 20px;
}

.brand img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.share {
  margin-top: 20px;
}

.share-icon {
  color: #333;
  margin-right: 10px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.share-icon:hover {
  color: #009688;
}

/* Quantity Buttons */
.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.quantity button {
  background-color: #ddd;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity button:hover {
  background-color: #009688;
  color: white;
}

.add-to-cart {
  background-color: #009688;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.add-to-cart:hover {
  background-color: #00796b;
}

.wishlist {
  color: #009688;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top: 10px;
}

/* Category and Tags */
.category,
.tags {
  margin-top: 20px;
}

.tags span,
.category span {
  margin-right: 10px;
  font-size: 1rem;
  color: #555;
}

@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    align-items: center;
  }

  .product-images {
    margin-bottom: 20px;
  }
}




/* ADDRESS */
.billing-address-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.billing-address-card h3 {
  margin-bottom: 15px;
  color: #333;
}

.address-details {
  margin-bottom: 15px;
}

.address-details p {
  margin-bottom: 5px;
  color: #666;
}

.edit-button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}




.file-upload-container {
  width: 300px; /* Adjust width as needed */
  padding: 30px;
  border: 1px dashed #ccc;
  border-radius: 5px;
  text-align: center;
}

.cloud-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cloud-icon svg {
  margin-right: 5px;
}

.text {
  font-size: 16px;
}

.text a {
  color: #007bff;
  text-decoration: none;
}