*{
    box-sizing: border-box;
    
}

.brand-black, .brand-black a, .brand-black span{
    color: #1A1A26 !important;
}

.brand-grey, .brand-grey a, .brand-grey span{
    color: #727473 !important;
}

.brand-green, .brand-green a, .brand-green span{
    color: #15a157 !important;
}

.auth-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.auth-container-inner {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.auth-container-inner .pair {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    width: 100%;
    height: 100%;

}

.auth-container-inner .pair.left {
    max-width: 45%;

}

.auth-container-inner .pair.right {
    max-width: 55%; 
}

.hero-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.auth-form {
    width: 100%;
    max-width: 500px; 
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    
}

.auth-form .form-tab {
    width: 100%;
}

.auth-form .form-tab .inner {
    width: 54.3%;
    background-color: rgb(241, 247, 241);
    display: flex;
    padding: 3px;
    border-radius: 22px;
}

.auth-form .form-tab .tab {
    padding: 0.8rem 1rem;
    border-radius: 20px;
}

.auth-form .form-tab .tab.active {
    background-color: #15a157;
    color: #fff;
}

.form .form-group {
    width: 100%;
}

.form .form-control {
    width: 100%;
    padding: 1.2rem 1rem ; 
    box-shadow: #15a157;
    outline: none; 
    border: 1px solid #dae0eb;

    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out;
}

.form .form-control.show-focus {
    border: 1px solid #15a157 !important;
}

.form .btn {
    display: block;
    width: 100%;
    padding: 1.2rem 1rem;
    background-color: #15a157;
    text-align: center;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form .btn:hover {
    background-color: #138a49;
}

.form .input-icon {
    left: 1.2rem;
    top: 36.5%;
}

.form .eye-icon {
    right: 1.2rem;
    top: 36.5%;
}


.auth-form .auth-divider {
    width: 100%;
    position: relative;
    padding: 1rem 0rem;
}

.auth-form .auth-divider .line {
    height: 1px;
    background-color: #727473;
    width: 70%;
    margin: 0 auto;
}

.auth-form .auth-divider span {
    padding: 0.5rem 1rem;
    background-color: #f8f8f8;
    top: -2.8px;
    left: 31.5%;
    position: absolute;
    border-radius: 10px;
}

.auth-form .brand-icons {
    display: flex;
    justify-content: center;
    gap: 1rem; /* Spacing between social media icons */
}

.auth-form .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid #15a157;
    cursor: pointer;
    transition: all 0.3s;
}

.auth-form .icon-button:hover {
    background-color: #15a157;
    color: #fff;
}

.auth-form .icon-button img {
    width: 40px;
    height: 40px;
}

.hero-image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left: 30px;
}

.hero-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
}

@media (max-width: 768px) {
    .container-inner {
      flex-direction: column; 
      padding: 1rem; 
    }
  
    .container-inner .pair {
      width: 100%; 
      height: auto; 
      max-width: none; 
    }
  
    .container-inner .pair.left, 
    .container-inner .pair.right {
      max-width: 100%; 
      padding: 0; 
    }
  
    .auth-form {
      padding: 20px;
    }
  
    .hero-image {
        display: none;
    }
  
    .auth-form .auth-divider span {
      left: 50%; 
      transform: translateX(-50%);
    }
  }
  
  @media (max-width: 480px) {
    .auth-form {
      padding: 15px;
    }
  
    .auth-form .btn {
      font-size: 0.9rem; 
      padding: 1rem; 
    }
  
    .auth-form .icon-button {
      width: 50px;
      height: 50px;
    }
  
    .auth-form .icon-button img {
      width: 30px;
      height: 30px;
    }
  }
  