/**
Authentication 
**/
  
@media (max-width: 480px) {
    .auth-form {
      padding: 15px;
    }
  
    .auth-form .btn {
      font-size: 0.9rem; 
      padding: 1rem; 
    }
  
    .auth-form .icon-button {
      width: 50px;
      height: 50px;
    }
  
    .auth-form .icon-button img {
      width: 30px;
      height: 30px;
    }
  }
  
